#app-mount .container-2cd8Mz {
    background-color: var(--background-primary);

    .searchBar-2aylmZ {
        display: none;
    }

    .section-3G9aLW {
        background-color: var(--background-secondary);
    }
}