#app-mount .container-2cd8Mz {
    background-color: var(--background-secondary);

    .searchBar-2aylmZ {
        display: none;
    }

    .section-3G9aLW {
        background-color: var(--background-secondary);
    }

    .scroller-hE2gWq {
        border: none;
    }
}
