.theme-dark,
.theme-light {
    .peopleColumn-1wMU14,
    .peopleList-2VBrVI {
        background-color: var(--background-primary);
    }

    .container-2oNtJn {
        border-radius: 8px;
    }

    .itemCard-3Etziu,
    .inset-SbsSFp {
        background-color: var(--background-tertiary) !important;

        section {
            border: none !important;
            background-color: var(--background-tertiary) !important;
        }
    }
}