#app-mount {
    section[aria-label="Channel header"] {
        div[aria-label="Help"],
        div[aria-label="Notification Settings"] {
            display: none;
        }
    }

    .chat-2ZfjoI, .container-ZMc96U.themed-Hp1KC_ {
        background-color: var(--background-secondary);
    }

    .children-3xh0VB {
        &::after {
            background: none;
        }
    }

    .form-3gdLxP {
        button {
            transform: translateY(-0em);
            transition: 0.25s;

            &:hover,
            &:focus {
                transform: translateY(-0.1em);
            }
        }

        &::before {
            background: none;
        }
        
        .buttons-uaqb-5 {
            button[aria-label="Send a gift or Boost this server"] {
                display: none;
            }

            button[aria-label="Open GIF picker"],
            button[aria-label="Open sticker picker"] {
                margin-top: 4px;
            }
        }
    }
}
