#app-mount {
	section[aria-label="Channel header"] {
		div[aria-label="Help"],
		div[aria-label="Notification Settings"],
		div[aria-label="Hide Member List"] {
			display: none;
		}
	}

	.messageContainer-3VTXBC {
		background-color: var(--background-secondary);
	}

	.messageGroupWrapper-1jf_7C {
		background-color: var(--background-secondary);
		border-color: var(--background-secondary);
	}

	.chat-2ZfjoI,
	.container-ZMc96U.themed-Hp1KC_,
	.container-3XgAHv {
		background-color: var(--background-secondary);
	}

	.wrapper-3HVHpV,
	.wrapper-15CKyy {
		background-color: var(--background-secondary);
	}

	.children-3xh0VB {
		&::after {
			background: none;
		}
	}

	.container-3i3IzO {
		background-color: var(--background-tertiary) !important;
		border-radius: 16px;
		border-top-left-radius: 0px !important;
	}

	.threadMessageAccessory-2W9mjC {
		.threadMessageAccessoryPreview-13YRmc .threadMessageAccessoryContent-1HTTUq {
			background-color: transparent !important;
			box-shadow: none !important;
			margin-bottom: 4px;
		}
	}

	.hasThread-3h-KJV {
		&::after {
			border-color: #192022;
		}
	}

	.content-3spvdd {
		background-color: var(--background-secondary);
	}

	.form-3gdLxP {
		button {
			transform: translateY(-0em);
			transition: 0.25s;

			&:hover,
			&:focus {
				transform: translateY(-0.1em);
			}
		}

		&::before {
			background: none;
		}

		.buttons-uaqb-5 {
			button[aria-label="Send a gift or Boost this server"],
			button[aria-label="Open GIF picker"],
			button[aria-label="Open sticker picker"] {
				margin-top: 3px;
			}
		}
	}

	.categoryHeader-OpJ1Ly {
		background-color: var(--tertiary-background-alt);
	}

	.replyBar-1oi75v,
	.threadSuggestionBar-3ExSyc {
		background-color: var(--background-tertiary);
	}
}
