#app-mount #powercord-updater {
	background-color: var(--background-secondary);

	.header {
		background-color: var(--background-tertiary);
	}

	.contents .inner {
		background-color: inherit;
		border: none !important;
	}

	.buttons {
		.lookOutlined-3yKVGo.colorBrand-I6CyqQ {
			border-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
			background-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
		}
	}
}
