/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/aymanbagabas/iosevka-fonts@v6.1.2/dist/iosevka/iosevka.min.css");

:root {
	--font-monospace: "Iosevka", monospace !important;
	--font-sans-serif: "DM Sans", sans-serif !important;

	--accent: #96d6b0;

	--primary-background: #0b0f10;
	--secondary-background: #101415;
	--tertiary-background: #131718;
	--tertiary-background-alt: #151a1c;
	--lighter-background: #192022;

	--primary-foreground: #c5c8c9;
	--secondary-foreground: #c4c4c4;
	--tertiary-foreground: #b7b8b8;
	--dimmed-foreground: #6e7071;
	--lighter-foreground: #ccc;
}
