@import url("https://raw.githack.com/hormelcookies/dark-discord/hormelcookies-patch-1/src/source.css");

.theme-dark,
.theme-light,
:root {
    --background-primary: #1d2021 !important;
    --background-secondary: #1d2021 !important;
    --background-tertiary: #282828 !important;
    --background-accent: #7daea3 !important;
    --background-floating: #282828 !important;
    --background-modifier-hover: rgba(255, 255, 255, 0.01) !important;
    --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
    --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
    --channeltextarea-background: var(--background-tertiary) !important;
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
    --deprecated-text-input-bg: var(--deprecated-card-editable-bg) !important;
    --deprecated-text-input-border: var(--background-floating) !important;
    --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
    --activity-card-background: var(--background-primary) !important;
    --channels-default: #9f9f9f !important;
    --text-muted: #b6b6b6 !important;
    --text-normal: #fbfbfb !important;
    --interactive-normal: #c8c8c8 !important;
    --interactive-hover: #dcddde !important;
    --interactive-active: #fff !important;
    --interactive-muted: #747474 !important;
    --header-primary: white !important;
    --header-secondary: #c9c9c9 !important;
    --toast-background: var(--background-primary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
    --toast-border: var(--background-tertiary) !important;
}

::-webkit-scrollbar-thumb {
    color: var(--background-tertiary) !important;
    background: var(--background-primary) !important;
    width: 5px !important;
    border: none !important;
    border-radius: 2px !important;
}

::-webkit-scrollbar {
    display: none;
    width: 5px !important;
}

/** TOGGLE SEARCH BAR  */
.searchBar-3dMhjb {
    background-color: var(--background-primary);
    width: 28px;
    transition: width 0.1s ease-in-out;
}

/** BUBBLE CHANNEL LIST */
.sidebar-2K8pFh {
    bottom: 0px;
    width: 0px;
    height: calc(100% - 47.988px);

    transition: 0.6s ease;
    position: fixed;
    z-index: 1;

}
.wrapper-3NnKdC:hover + .base-3dtUhz > .content-98HsJk > .sidebar-2K8pFh {
    width: 240px;
}
.sidebar-2K8pFh:hover {
    width: 240px;
}
.container-3w7J-x {
    margin-right: 7px;
}

/** FIX BUTTONS */
.webkit-HjD9Er .buttons-3JBrkn {
    margin: 0 7px 0 0;
}

button[aria-label="Send a gift"] {
    visibility: hidden;
}

/** OTHER SHIT */
.activity-3v9l4T {
    padding-bottom: 8px;
}

.drawerSizingWrapper-17Mss4 {
    right: 30px;
}

.embed-IeVjo6 code {
    background-color: var(--background-primary);
}

.embedFull-2tM8-- {
    background-color: var(--background-tertiary);
}

.embed-IeVjo6 {
    border-radius: 0px !important;
}

.panels-j1Uci_ {
    background-color: var(--background-primary);
}

.role-3UN8jj {
    background-color: var(--background-tertiary);
}

.theme-dark .divider-23swzi {
    background-color: var(--background-primary);
}

.theme-dark .selected-1Tbx07 {
    background-color: var(--background-tertiary);
}

.theme-dark .wrapper-1-Fsb8 {
    background-color: var(--background-primary);
}

.theme-dark .uploadModal-2ifh8j {
    transform: translateX(32px);
}
