@import url("https://raw.githack.com/hormelcookies/dark-discord/hormelcookies-patch-1/src/source.css");

.theme-dark,
.theme-light,
:root {
    --background-primary: #13141d !important;
    --background-secondary: #13141d !important;
    --background-tertiary: #161825 !important;
    --background-accent: #84a0c6 !important;
    --background-floating: #161825 !important;
    --background-modifier-hover: rgba(255, 255, 255, 0.01) !important;
    --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
    --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
    --channeltextarea-background: var(--background-tertiary) !important;
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
    --deprecated-text-input-bg: var(--deprecated-card-editable-bg) !important;
    --deprecated-text-input-border: var(--background-floating) !important;
    --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
    --activity-card-background: var(--background-primary) !important;
    --channels-default: #9f9f9f !important;
    --text-muted: #b6b6b6 !important;
    --text-normal: #fbfbfb !important;
    --interactive-normal: #c8c8c8 !important;
    --interactive-hover: #dcddde !important;
    --interactive-active: #fff !important;
    --interactive-muted: #747474 !important;
    --header-primary: white !important;
    --header-secondary: #c9c9c9 !important;
    --toast-background: var(--background-primary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
    --toast-border: var(--background-tertiary) !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    width: 5px !important;
}
::-webkit-scrollbar-thumb {
    color: var(--background-accent);
    background: var(--background-primary) !important;
    width: 5px !important;
    border: none !important;
    border-radius: 2px !important;
}

.embedFull-2tM8-- {
    border-left: 4px solid var(--background-accent) !important;
    background-color: var(--background-tertiary);
}

.embed-IeVjo6 {
    border-radius: 0px !important;
}

.panels-j1Uci_ {
    background-color: #13141d;
}

.theme-dark .divider-23swzi {
    background-color: var(--background-primary);
}

.theme-dark .selected-1Tbx07 {
    background-color: var(--background-tertiary);
}

.theme-dark .wrapper-1-Fsb8 {
    background-color: var(--background-primary);
}

/* Hide Nitro gift button */
button[aria-label="Send a gift"] {
    display: none;
}
/* Hide sticker picker button */
button[aria-label="Open sticker picker"] {
    display: none;
}

button[aria-label="Open GIF picker"] {
    margin-top: 2px;
    margin-left: -95px;
}

button[aria-label="Select emoji"] {
    margin-left: -55px;
}

/** TOGGLE SEARCH BAR  */
.searchBar-3dMhjb {
    background-color: var(--background-primary);
    width: 28px;
    transition: width 0.1s ease-in-out;
}

/** BUBBLE CHANNEL LIST */
.sidebar-2K8pFh {
  width: 0px;
  transition: 0.6s ease;
  position: fixed;
  height: calc(100% - 47.988px);
  z-index: 1;
  bottom: 0px;
}
.wrapper-3NnKdC:hover + .base-3dtUhz > .content-98HsJk > .sidebar-2K8pFh {
  width: 240px;
}
.sidebar-2K8pFh:hover {
  width: 240px;
}

/** BUBBLE MEMBER LIST */
.membersWrap-2h-GB4 {
    min-width: unset;
}
.members-1998pB {
    position: fixed;
    max-width: 120px;
    min-width: 120px;
    max-height: 630px;
    transition: .6s ease;
}
.members-1998pB:hover {
    max-width: 480px;
    min-width: 480px;
    transition: .6s ease;
}
div:not(:hover) > .membersGroup-v9BXpm {
    height: 0px;
    padding: 0%;
}
div:not(:hover) > .members-1998pB > div {
    padding-top: 10px;
}

.messagesWrapper-1sRNjr {
    margin-right: 60px;
}
.channelTextArea-rNsIhG { 
    border-radius: 0px;
    margin-left: -20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.scrollableContainer-2NUZem {
    padding: 5px 10px 5px 15px;
}
.typing-2GQL18 {
    background-color: #1b1c27;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    top: -24px;
    right: 80px;
}
.base-gE7OpD .slowModeIcon-1BPDC_ {
    visibility: hidden;
}
.attachButton-2dnuIu {
    margin-left: -32px;
}
.autocomplete-3l_oCd {
    border-radius: 0px;
    box-shadow: none;
    bottom: calc(100%);
    right: 25px;
}

/** OTHER SHIT */
.jumpToPresentBar-G1R9s6 {
    margin-left: 2px;
    transform: translateX(31px);
}
.newMessagesBar-265mhP {
    visibility: true;
}
.theme-dark .uploadModal-2ifh8j {
    transform: translateX(32px);
}
.embed-IeVjo6 code {
    background-color: var(--background-primary);
}
.role-3UN8jj {
    background-color: var(--background-tertiary);
}