@import url("https://raw.githack.com/hormelcookies/dark-discord/hormelcookies-patch-1/src/source.css");
@import url("https://raw.githack.com/Freeplayg/Discord-TeardropMessages/main/theme.css");
@import url("https://cdn.jsdelivr.net/gh/aymanbagabas/iosevka-fonts@v6.1.2/dist/iosevka/iosevka.min.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.theme-dark,
.theme-light,
:root {
    --background-primary: #1d2021 !important;
    --background-secondary: #1d2021 !important;
    --background-tertiary: #282828 !important;
    --background-accent: #689d6a !important;
    --background-floating: #282828 !important;
    --background-modifier-hover: rgba(255, 255, 255, 0.01) !important;
    --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
    --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
    --channeltextarea-background: var(--background-tertiary) !important;
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
    --deprecated-text-input-bg: var(--deprecated-card-editable-bg) !important;
    --deprecated-text-input-border: var(--background-floating) !important;
    --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
    --activity-card-background: var(--background-primary) !important;
    --channels-default: #9f9f9f !important;
    --text-muted: #b6b6b6 !important;
    --text-normal: #fbfbfb !important;
    --interactive-normal: #c8c8c8 !important;
    --interactive-hover: #dcddde !important;
    --interactive-active: #fff !important;
    --interactive-muted: #747474 !important;
    --header-primary: white !important;
    --header-secondary: #c9c9c9 !important;
    --toast-background: var(--background-primary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
    --toast-border: var(--background-tertiary) !important;
}

html, body {
    font-family: "DM Sans", sans-serif !important;
}

.markup-2BOw-j code.inline {
    font-family: "Iosevka", sans-serif !important;
}

::-webkit-scrollbar-thumb {
    color: transparent !important;
}

::-webkit-scrollbar {
    display: none;
}

/** TOGGLE SEARCH BAR  */
.searchBar-3dMhjb{
    background-color: var(--background-primary);
    width: 28px;
    transition: width 0.1s ease-in-out;
}

/** FIX BUTTONS */
.webkit-HjD9Er .buttons-3JBrkn {
    margin: 0 7px 0 0;
}

button[aria-label="Select emoji"] {
    margin-bottom: 3px;
}

/** TEARDROP MESSAGES */
.cozy-3raOZG .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK), .embedFull-2tM8--, .wrapper-35wsBm,
.message-2qnXI6 .imageWrapper-2p5ogY, .cozy-3raOZG .repliedMessage-VokQwo {
    background-color: #32302f;
}

.cozy-3raOZG .repliedMessage-VokQwo ~ .contents-2mQqc9 > .messageContent-2qWWxC:first-of-type::before {
    background-color: #32302f;
}

.theme-dark .cozy-3raOZG .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK), .theme-dark .embedFull-2tM8-- {
    background-color: var(--background-floating);
    font-weight: 400;
}

.theme-dark .cozy-3raOZG .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) pre code {
    background-color: var(--background-primary);
}

.repliedMessage-VokQwo ~ .container-1ov-mD {
    margin-top: 4px !important;
}

.container-1ov-mD > span > div > div > .pngImage-33yLRP {
    border-radius: 16px;
    border-top-left-radius: 0px;
    background-color: var(--background-tertiary);
    box-shadow: var(--elevation-low);
}

.chat-3bRxxu .form-2fGMdU .channelTextArea-rNsIhG,
.jumpToPresentBar-G1R9s6 {
    margin-left: 36px !important;
    margin-right: -36px !important;
}

.chat-3bRxxu .jumpToPresentBar-G1R9s6,
.replyBar-1YLQ2F {
    background-color: #32302f;
    margin-right: -36px;
}

.replyBar-1YLQ2F {
    margin-right: 0px;
}

main[aria-label=" (channel)"] .form-2fGMdU .channelTextArea-rNsIhG {
    margin-left: 0px !important;
}

.contentWrapper-SvZHNd {
    margin-left: 28px;
    margin-right: -28px;
}

.newMessagesBar-265mhP,
.chatHeaderBar-4vZS1x {
    margin-right: -80px;
}

/** ALL HTTP LINKS HIGHLIGHTED AS RED */
a[href^="http://"] {
    color: #ea6962;
}

/** BLUR USERNAME AND DISCRIM ON CHANNEL LIST */
.usernameContainer-1fp4nu {
    filter: blur(2px);
}

.usernameContainer-1fp4nu:hover {
    filter: none;
}

/** SMALLER USER BANNER */
.profileBannerPremium-35utuo {
    height: 160px;
}

/** PADDING FIX */
.infoScroller-1Qu30O {
    padding: 20px !important;
}

.templatesList-2E6rTe {
    padding: 16px;
}

.scroller-3tPHw0 {
    padding-right: 16px !important;
}

/** NITRO ACCENT COLOR FIX */
.disableColor-2z9rkr, .iconBackgroundTierNone-3ZkOsa, .iconBackgroundTierOne-2OQMBY, .iconBackgroundTierThree-FWlUL9, .iconBackgroundTierTwo-Eab9L6 {
    color: hsl(302,calc(var(--saturation-factor, 1)*100%),72.5%) !important;
}

.tierMarkerAccomplished-2MiXeg {
    background-color: rgb(255, 115, 250) !important;
}

.tierMarkerInProgress-24LMzJ  {
    background-color: transparent !important;
}

.theme-dark .perk-2WeBWW {
    background-color: var(--background-primary) !important;
}

.theme-dark .perksModal-1pSu7w {
    background-color: var(--background-secondary);
}

.tierMarkerBackground-3q29am, .barBackground-2EEiLw {
    background-color: var(--background-floating) !important;
}

/** THREAD FIX */
.container-3hZ-gs {
    background-color: var(--background-tertiary) !important;
    border-radius: 16px;
    border-top-left-radius: 0px;
    box-shadow: var(--elevation-low);
}

/** MAKE IT LOOK LIKE IRC */
.threadMessageAccessory-1pYyA- .threadMessageAccessoryPreview-1uSsue .threadMessageAccessoryContent-1LHM39 {
    background-color: transparent !important;
    box-shadow: none !important;
    margin-top: 0px !important;
}

.chat-3bRxxu.threadSidebarOpen-vdkwIh .form-2fGMdU .channelTextArea-rNsIhG,
.chat-3bRxxu.threadSidebarOpen-vdkwIh .jumpToPresentBar-G1R9s6 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/** OTHER SHIT */
.activity-3v9l4T {
    padding-bottom: 8px;
}

.attachment-33OFj0 {
    background-color: var(--background-tertiary);
}

.container-1_ClKi {
    padding: 16px !important;
}

.drawerSizingWrapper-17Mss4 {
    right: 30px;
}

.embed-IeVjo6 code {
    background-color: var(--background-primary);
}

.embedFull-2tM8-- {
    background-color: var(--background-tertiary);
}

.emptyChannelIcon-cc932w {
    display: none;
}

.panels-j1Uci_ {
    background-color: var(--background-primary);
}

.role-3UN8jj {
    background-color: var(--background-tertiary);
}

.scroller-3BxosC {
    padding: 8px !important;
}

.theme-dark .divider-23swzi {
    background-color: var(--background-primary);
}

.theme-dark .selected-1Tbx07 {
    background-color: var(--background-tertiary);
}

.theme-dark .wrapper-1-Fsb8 {
    background-color: var(--background-primary);
}

.theme-dark .uploadModal-2ifh8j {
    transform: translateX(32px);
}

.header-2V-4Sw {
    margin-left: -4px !important;
    width: 246px !important;
}

.base-gE7OpD .cooldownWrapper-3joyFc {
    padding: 0 8px 0 8px !important;
    background-color: var(--background-tertiary);

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* PADDING FIXES */
.scrollContent-m6ynud {
    padding: 0 12px 0 12px !important;
}

.body-3HBlXn {
    padding: 0 16px 0 16px !important;
}

.container-3w7J-x {
    margin-right: 7px;
}

/** BUBBLE CHANNEL LIST */
[class*="wrapper-"][class*="guilds-"][aria-label] {
    z-index: 30; 
}

[class*="sidebar-"] [aria-controls*="popout_"]{
    z-index: 50;
}

/* Channel List */
[class*="base-"] [class*="sidebar-"] {
    position: fixed;
    z-index: 1;
    top: 48px;
    bottom: 0;
    left: -240px;
    transition: 0.6s ease;
}

/* Hover to channelname and sidebar */
[class*="base-"] [class*="sidebar-"]:hover {
    left: 72px;
}

/* Hover to channelname and sidebar to hide pill*/
[class*="base-"] [class*="sidebar-"]:hover [class*="modeUnread-"]::after {
    transform: scale(0);
    transition: transform 100ms;
}

/* Titlebar */
[class*="base-"] [class*="title-"] {
    z-index: 10;
}

/* Add mask for titlebar */
[class*="base-"] [class*="sidebar-"]::before {
    content: "";
    position: fixed;
    left: 72px;
    top: 50px;
    width: 60px;
    height: calc(100% - 47.988px);
    z-index: 30; 
}

/* Unread Channel Pill */
[class*="base-"] [class*="sidebar-"] [class*="modeUnread-"]::after {
    content: ""; 
    position: fixed;
    border-radius: 0 4px 4px 0;
    top: 41px;
    left: 71px;
    width: 4px;
    height: 8px;
    background-color: var(--interactive-active);
}

/* Move the mask, pill, and channel down when streamer mode is enabled */
[class*="notice-"][class*="colorStreamerMode-"] + [class*="content-"] > [class*="sidebar-"],
[class*="notice-"][class*="colorStreamerMode-"] + [class*="content-"] > [class*="sidebar-"]::before {
    top: 58px;
}

[class*="notice-"][class*="colorStreamerMode-"] + [class*="content-"] > [class*="sidebar-"] [class*="modeUnread-"]::after {
    top: 78px !important;
}

/** BUBBLE MEMBER LIST */
.members-1998pB {
    transition: transform 0.6s;
}

.membersWrap-2h-GB4 {
    width: 40px;
    min-width: unset;

    justify-content: left;
}

.membersWrap-2h-GB4:hover .members-1998pB {
    transform: translateX(-260px);
}

.membersWrap-2h-GB4 .members-1998pB .member-3-YXUe {
    background-color: unset;

    margin-left: 0px;

    transition: margin-left 0.6s;
}

.membersWrap-2h-GB4:hover .members-1998pB .member-3-YXUe {
    margin-left: 15px;
    margin-right: 15px;
}

.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
    transform: translateX(2px);
}

.membersWrap-2h-GB4 .membersGroup-v9BXpm {
    background-color: var(--background-tertiary);

    transform: translateX(-10px);
    transition: transform 0.6s;

    cursor: default;
    overflow: visible;
}

.members-1998pB {
    background-color: var(--background-tertiary);
    border-radius: 18px 18px 18px 18px !important;
    border-top-left-radius: 0px !important;

    left: 37px;
    margin-top: 100px;
    margin-bottom: 15px;

    box-shadow: var(--elevation-medium) !important;
}

.members-1998pB > div {
    background-color: var(--background-tertiary);
}

.membersWrap-2h-GB4 {
    background-color: rgba(216, 27, 27, 0);

    left: 45px;
    bottom: 75px;
    margin-right: 40px;
}
