#app-mount {
	.root-g14mjS {
		background-color: var(--background-secondary);

		.footer-31IekZ {
			background-color: var(--background-tertiary);
		}
	}

	.invite-3uuHYQ {
		background-color: var(--background-tertiary);
		border-color: var(--tertiary-background-alt);
	}
}
