#app-mount {
	.container-KM8BU6,
	.reactors-1VXca7 {
		background-color: var(--background-primary);

		.scroller-2GkvCq {
			background-color: var(--background-secondary);
		}
	}

	.reactorDefault-3GSyaV {
		box-shadow: inset 0 -1px 0 var(--background-secondary);
	}
}
