#app-mount .root-g14mjS {
    .input-2g-os5 {
        background-color: var(--background-tertiary);
    }

    .lookFilled-1GseHa.select-1Ia3hD {
        background-color: var(--background-tertiary);
        border-color: var(--background-tertiary);
    }
}
